.carouselImages {
  width: calc(100% / 3);
  height: 400px;
  margin: 20px;
  border: 20px solid rgb(0, 2, 90);
  border-radius: 4rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 10px,
    rgba(0, 0, 0, 0.12) 0px -5px 3px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 5px 3px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.carouselImages:first-child {
  margin-left: 0px;
}

.carouselTitle {
  color: white;
  font-size: 250%;
  margin: 20px;
}
.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  overscroll-behavior: contain;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: hidden;

  white-space: nowrap;
  cursor: grab;
}

.carouselButtons {
  padding: 15px;
  border-radius: 100%;
  border: 0;
  margin: 10px;
  position: absolute;
}

.left {
  left: 0;
}
.right {
  right: 0;
}
